<div class="form-div">
    <div class="head">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link"  routerLinkActive="active" routerLink="/locality/tab/info"><fa class="help" [name]="'info-circle'"></fa>Information </a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" routerLink="/locality/tab/solutions"  routerLinkActive="active"><fa class="help" [name]="'info-circle'"></fa>Solutions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link "  routerLinkActive="active" routerLink="/locality/tab/legal"><fa class="help" [name]="'info-circle'"></fa>Legal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/locality/tab/Audit"><fa class="help" [name]="'bell'"></fa>Audit/Compliance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/locality/tab/assessment"><fa class="help" [name]="'bell'"></fa>Assessment</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/locality/tab/security"><fa class="help" [name]="'bell'"></fa>Security</a>
            </li>
             <li class="nav-item">
                <a class="nav-link "  routerLinkActive="active" routerLink="/locality/tab/technical"><fa class="help" [name]="'desktop'"></fa>Technical</a>
            </li>
             <li class="nav-item">
              <a class="nav-link "   routerLinkActive="active" routerLink="/locality/tab/business"><fa class="help" [name]="'building'"></fa>Business</a> 
            </li>
            
        </ul>
    </div>
  <router-outlet></router-outlet>
</div>