<app-navigation-component></app-navigation-component>
<app-option-list></app-option-list>
<app-solution-table></app-solution-table>
<!-- <form class="forms">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="fixed_header">
                <thead style="background-color: gray">
                    <th>Vendor Name</th>
                    <th>Email Id</th>
                    <th>Phone Number</th>
                    
                   
                </thead>
                <tbody>
                    <tr *ngFor="let vendor of vendors">
                         <td><a routerLink="/vendors">{{ vendor.name }}</a></td>
                         <td>{{ vendor.vendorContact.emailId }}</td>
                          <td>{{ vendor.vendorContact.phoneNumber }}</td>
                         
                    </tr>
                </tbody>
         </table>
        </div>
    </div>
</div>
</form> -->