.asterisk{
	display: inline;
	color: red;
	margin-left: 2px;
}

.documents{
	margin-top: 15px;
}

.policy-edit{
	float: right;
}

.icons{
    vertical-align: middle;
    font-size: 20px;
    margin-top: -20px;
    padding: 2px;
    margin-left: 5px;
}

.edit-icon{
    /*margin-left: 10px;*/
    color: #3A539B;
}

.download-icon{
	color: #3A539B;
}

.save-icon{
	color: #3A539B;
}

.close-icon{
	color: #3A539B;
}

.installation{
	padding: 1%;
}

.hosting-notes{
	display: block;
	/*margin-top: 20px;*/
}

.modal-header{
	background-color: #3A539B;
	color: #ffffff;
}

.btn{
	background-color: #3A539B;
	border-color: #3A539B;
}