/* input[type=radio]:not(old){ */
/*   width   : 28px; */
/*   margin  : 0; */
/*   padding : 0; */
/*   opacity : 0; */
/* } */


.plus{
	float:right;
    font-size: 20px;
    margin-right: 20px;
    color: #3A539B;
}


.modal-header{
	background-color: #3A539B;
	color: #ffffff;
}

.confbtn{
    margin-left: auto;
    margin-right: auto;
    background-color: #3A539B;
	border-color: #3A539B
}


.forms{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 20px;
    background-color: #EEEEEE;
    overflow: hidden;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
}

.clear-right {
	clear:right;
	overflow: hidden;
}

table {
    border: 1px solid black;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    
}

tbody tr:nth-of-type(odd) {
    background-color: #EEEEEE !important;
}
tbody tr:nth-of-type(even) {
    background-color: #ffffff !important;
}


.page-description{
    text-align: center;
    /*padding: 2%;*/
    margin-top: 0px;
    margin-bottom: 10px;
}

@keyframes slideInFromCenter {
  0% {
    transform: scale(0,1);
  }
  100% {
    transform: scale(1,1);
  }
}

.after-heading{
	width: 10%;
	margin: auto;
	background-color: #3A539B;
	animation: 1s ease-out 0s 1 slideInFromCenter;
}

/*.after-heading:hover{
	transform: scale(1, 1);
	transition: right 0.5s;
}*/

.tip{
    width: 100%;
}

.tip-text{
    background-color: #F8FFAE;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
    color:  #3A539B;
}

.light-bulb{
    margin-right: 3px;
    padding: 2px;
    margin-left: 3px;
    color:  #3A539B;
}

table {
    border: 1px solid black;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    
}



tr{
	background-color:#cecfd5;
}






th{
    font-weight: bold;
    color: black;
   
    text-align: left;
}



#searchtable table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
  
    color: black;
}



.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}





.asterisk{
	display: inline;
	color: red;
	margin-left: 2px;
}

/* .btn{ */
/* 	margin-left: 3px; */
/* 	background-color: #3A539B; */
/* 	border-color: #3A539B; */
/* } */

/*hr{
	margin: 30px -20px 20px;
    border: 0;
    border-top: 1px solid black;
}*/

i.fa {
   text-decoration: none !important;
   padding: 5px 4px;
}
.fa {
   display: inline-block;
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
  }


.nav-link{
color: black;
margin-left: 10px;
}
.icons{
	color:#3A539B;
   vertical-align: middle;
   font-size: 20px;
   margin-bottom: 20px;
   padding: 2px;
   margin-right: 20px;
}
