.forms{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 20px;
    background-color: #EEEEEE;
    overflow: hidden;
}

.navigate{
    margin: 15px;
    padding: 5px;
}

.sticky-top{
	height: 30px;
	border-radius: 5px;
}

.form-options{
    margin-right: 15px;
    margin-top: -15px;
    padding: 5px;
}

.home-back{
	float: left;
}

.save-edit{
	float: right;
}

a{
	text-decoration: none;
}

.icons{
    vertical-align: middle;
    font-size: 20px;
    margin-top: -20px;
    padding: 2px;
    margin-left: 5px;
}


.asterisk{
	display: inline;
	color: red;
	margin-left: 2px;
}

.policies{
	margin-top: 15px;
}

input[readonly] {
	background-color: #ffffff;
	}


.ban{
	color: #D91E18;
}

.hover-icon{
	visibility: hidden;
}

.hover-icon:hover{
	visbility: visible;
}

.help{
	font-size: 15px;
	color: #3A539B;
	margin-right: 5px;
}

.nav-link{
	color: black;
	margin-left: 10px;
}

.table{
	
}

