.form{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 20px;
    background-color: #EEEEEE;
    overflow: hidden;
}

.asterisk{
	display: inline;
	color: red;
	margin-left: 2px;
}

.review{
	margin-top: 15px;
}

.policy-edit{
	float: right;
}

.sorting{
	margin-left: 5px;
}

.icons{
    vertical-align: middle;
    font-size: 20px;
    margin-top: -20px;
    padding: 2px;
    margin-left: 5px;
}

.edit-icon{
    /*margin-left: 10px;*/
    color: #3A539B;
}

.plus-icon{
	color: #3A539B;
}

table{
	background-color: #ffffff;
	text-align: center;
	border: 1px solid black;
}

.table-bordered tbody tr:nth-of-type(odd){
	background-color: #EEEEEE !important;
	border: 1px solid black;
}

tbody tr:nth-of-type(odd){
	background-color: #EEEEEE !important;
}

table thead tr th{
	font-weight: 500;
	color: black;
	border: 1px solid black;
	background-color: #cecfd5;
}

table thead tr td{
	color: black;
}

.table-bordered td, .table-bordered th {
    border: 1px solid black;
}

.add{
	margin-bottom: 10px;
}

.modal-header{
	background-color: #3A539B;
	color: #ffffff;
}

.btn{
	background-color: #3A539B;
	border-color: #3A539B;
}

.review-btn{
	float: right;
}