i.fa {
    text-decoration: none !important;
    padding: 5px 4px;
     color: #3A539B;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
     color: #3A539B;
   }
.plus{
	float:right;
	 vertical-align: middle;
    font-size: 20px;
 
    padding: 2px;
    margin-left: 20px;
    color: #3A539B;
    margin-top: 15px;
    
}

.policies{
	margin-top: 15px;
}

.policy-edit{
	float: right;
}


.icons{
    vertical-align: middle;
    font-size: 20px;
    margin-top: -20px;
    padding: 2px;
   
    font-size:20px;
}



.table-bordered td, .table-bordered th {
    border: 1px solid #e9ecef;
}











.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
   
}

.nav-link{
	color: black;
	margin-left: 10px;
}

/* .icons{ */
/* 	color:#3A539B; */
/*    vertical-align: middle; */
/*    font-size: 20px; */
/*    margin-bottom: 20px; */
/*    padding: 2px; */
/*    margin-right: 20px; */
/* } */



input[readonly] {
	background-color: #ffffff;
	}

table{
	background-color: #ffffff;
	text-align: center;
}

table thead tr th{
	font-weight: 500;
}

.modal-header{
	background-color: #3A539B;
	color: #ffffff;
}

.btn{
	background-color: #3A539B;
	border-color: #3A539B;
}
.confbtn{
    margin-left: auto;
    margin-right: auto;
}