.forms{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 20px;
    background-color: #EEEEEE;
    overflow: hidden;
}

.asterisk{
	display: inline;
	color: #3A539B;
	margin-left: 5px;
}

.display{
	display: inline;
	margin-left: 2px;
}

.installation{
	padding: 1%;
}

.buttons{
	float: right;
}

.btn{
	background-color: #3A539B;
	border-color: #3A539B;
}

.modal-header{
	background-color:#3A539B !important;
	color:white;
}
