<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Policy File</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="col-sm-5 col-md-5 col-lg-5">
        <label class="input">
          <input type="file" file-model="attachment" data-btn-text="Select a File" accept=".pdf,.doc,.docx" #fileInput (change)="getFile($event)"
            required>

        </label>
      </div>

    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
    <button type="savebtn" class="btn btn-outline-dark" (click)="compareFile();c()">Compare</button>
  </div>
</ng-template>


<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Info</h4>
  </div>
  <div class="modal-body">
    <p>{{info}}</p>
  </div>
  <div class="modal-footer">
    <button  *ngIf="!showButton" type="button" class="btn btn-outline-dark confbtn" (click)="c();redirect()">Ok</button>
    <button  *ngIf="showButton" type="button" class="btn btn-outline-dark confbtn" (click)="c()">Ok</button>
  </div>
</ng-template>




<div>


  <div class="form-div">
    <form class="former">
      <fieldset [disabled]="showInitial">


        <div class="panel-heading">
          <label class="details">DETAILS</label>
          <div class="plus">


            <span class=" title elipsis pull-right" *ngIf="showEdit">
              <a><fa class="edit-icon icons" [name]="'edit'" (click)="valueChanged()"></fa></a>
            </span>

            <span class=" title elipsis pull-right">
              <a (click)="saveAudit()" *ngIf="showLegalBox&&show1&&show2&&show3&&show4 || showEditMode">
                <i class="fa fa-floppy-o" aria-hidden="true" style="font-size: 24px;"></i>
              </a>
            </span>

            <span class=" title elipsis pull-right">
              <a (click)="showHist()" title="Application audit history">
                <i class="fa fa-history" aria-hidden="true" style="font-size: 24px;"></i>
              </a>
            </span>

            <span class=" title elipsis pull-right">

              <a data-ng-click="close()" title="Change to view mode. This reverts the changes">
                <i class="fa fa-times" aria-hidden="true" style="font-size: 24px;"></i>
              </a>
              <a (click)="showAudit()" title="Go back to audit section.">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size: 24px;"></i>
              </a>
            </span>


          </div>

        </div>
        <hr/>































        <div class="form-row">
          <div class="form-group col-md-6">

            <label for="inputState">Definitive Source</label>
            <div class="asterisk">*</div>
            <input *ngIf="!showOriginal" type="text" class="form-control" name="auditName" [(ngModel)]="appAudit.auditTypeName" readonly>
            <select *ngIf="showOriginal" class="form-control" id="definitiveSource" required name="auditName" (change)="selectDefinitive($event.target.value)">
              <option selected>Choose...</option>
              <option *ngFor="let auditType of auditTypes" value="{{ auditType.auditTypeId }}">{{ auditType.auditTypeName
                }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Type/Policy</label>
            <div class="asterisk">*</div>
            <input *ngIf="!showOriginal" type="text" class="form-control" name="policyId" [(ngModel)]="polName" readonly>
            <select *ngIf="showOriginal" class="form-control" id="typePolicy" name="policyId" required (change)="selectType($event.target.value)">
              <option selected>Choose...</option>
              <option *ngFor="let policyType of  policyTypes" value="{{ policyType.policyGrpId }}">{{ policyType.policyGrpName
                }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Audit type</label>
            <div class="asterisk">*</div>
            <input *ngIf="!showOriginal" type="text" class="form-control" id="lastName" name="auditType" value="" [(ngModel)]="appAudit.auditType"
              readonly>
            <input *ngIf="showOriginal" type="text" class="form-control" id="lastName" name="auditType" value="" [(ngModel)]="appAudit.auditType">
          </div>

          <div class="form-group col-md-6">
            <label for="lastName">Audit Date</label>
            <input *ngIf="!showOriginal" type="text" class="form-control" name="vauditDate" [(ngModel)]="vauditDate" readonly>
            <my-date-picker *ngIf="showOriginal" name="auditDate" (dateChanged)="getAuditDate($event)" [(ngModel)]="auditDate"></my-date-picker>
            <p style="color: red;font-weight: bold;">{{err1}}</p>

          </div>




          <div class="form-group col-md-6">
            <label for="dueDate">Next Date</label>
            <my-date-picker name="nextDate" (dateChanged)="getDate($event)" [(ngModel)]="nextDate"></my-date-picker>
            <p style="color: red;font-weight: bold;">{{err}}</p>
          </div>
          <div class="form-group col-md-6">

            <label for="inputState">Overall Status</label>
            <div class="asterisk">*</div>
            <input *ngIf="!showOriginal && showStatus1" type="text" class="form-control" name="overallStatus" [(ngModel)]="appAudit.status">
            <select *ngIf="showOriginal || showStatus" id="modelSolution" class="form-control" name="overallStatus" (change)="getNextDate($event.target.value)">
              <option selected>Choose...</option>
              <option value="Open">Open</option>
              <option value="Suspended">Suspended</option>
              <option value="Close">Close</option>
            </select>
          </div>
        </div>
      </fieldset>

    </form>
  </div>
</div>
<!-- 
    <h5>POLICIES</h5>
    <table class="table table-bordered table-dark" *ngIf="showTable">
      <thead>
        <tr>
          <th scope="col">Control Number</th>
          <th scope="col">Policy Name</th>
          <th scope="col">Priority</th>
          <th scope="col">Policy Value</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
  
  
    </table> -->

<div class="show" *ngIf="showHistory">
  <form class="former">
    <div class="form-row">
      <label for="inputState">AUDIT</label>
      <hr/>
      <textarea name="" id="" rows="5" class="form-control"><button type="close" class="submit">Close</button></textarea>
    </div>
  </form>
</div>




<div class="show" *ngIf="showTable">
  <form class="former">
    <div class="form-row">
      <p>
        <b>POLICIES</b>
      </p>
      <span style="color: red; font-weight: bold;">&nbsp;{{errorfile}}</span>
    </div>
    <div class="panel-heading">

      <span class="title elipsis pull-right">
        <a title="Compare policies">
          <i class="fa fa-exchange" aria-hidden="true" style="font-size: 24px;" (click)="open(content)"></i>
        </a>
        <a title="Send notifications">
          <i class="fa  fa-envelope-o" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
        <a title="Download compared policies" (click)="downloadFile(appAudit.policyGrpId)">
          <i class="fa  fa-download" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
      </span>
    </div>
    <!-- <hr class=htag/> -->
    <table class="table table-bordered">
      <thead>
        <tr>

          <th scope="col" (click)="handleSort()">Control Number and Description
            <i class="fa fa-arrow-down" *ngIf="!desc"></i> <i class="fa fa-arrow-up" *ngIf="desc"></i>
          </th>
          <th scope="col" (click)="handleSorter()">Policy Name
            <i class="fa fa-arrow-down" *ngIf="!des"></i> <i class="fa fa-arrow-up" *ngIf="des"></i>
          </th>
          <th scope="col">Priority</th>
          <th scope="col">Source Value</th>
          <!-- <th scope="col">Implemented Value</th>
            <th scope="col">Comparison results</th> -->
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of policies | paginate: { itemsPerPage: 10, currentPage: p }">
          <!-- <td>{{ policy.controlNumber }}</td> -->
          <td>
            <a routerLink="/accessControl/{{ policy.policyId }}" style="cursor:pointer;color:blue;">{{ policy.controlNumber
              }}</a>
          </td>
          <td>{{ policy.policyName }}</td>
          <td>{{ policy.priority }}</td>
          <td>{{ policy.policyVal }}</td>
          <td>{{ policy.status }}</td>
        </tr>
      </tbody>
    </table>

    <!-- <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link">1</a>
        </li>
        <li class="page-item active">
          <a class="page-link">2
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link">3</a>
        </li>
        <li class="page-item">
          <a class="page-link">Next</a>
        </li>
      </ul>
    </nav> -->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>



  </form>


</div>