<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Info</h4>
    </div>
    <div class="modal-body">
        <p>{{info}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark confbtn" (click)="c()">Ok</button>
    </div>
</ng-template>
<div class="form-div">
    <form class="former">


        <div class="panel-heading">
            <label class="details">FINDINGS</label>
            <div class="plus">

                <span *ngIf="showSave" class=" title elipsis pull-right"> <a (click)="saveFindings()" title="Save Audit" class="ng-hide"> <i
                            class="fa fa-floppy-o" aria-hidden="true" style="font-size: 24px;"></i>
                    </a>
                </span>
                <span *ngIf="showEdit" class=" title elipsis pull-right">
                    <a><fa class="edit-icon icons" [name]="'edit'" (click)="valueChanged()"></fa></a>
                </span>
                <span class=" title elipsis pull-right"> <a title="Application audit history"> <i class="fa fa-history" aria-hidden="true"
                            style="font-size: 24px;"></i>
                    </a>
                </span> <span class=" title elipsis pull-right"> <a data-ng-click="close()" title="Change to view mode. This reverts the changes">
                        <i class="fa fa-times" aria-hidden="true" style="font-size: 24px;"></i>
                    </a> <a (click)="showLeft()" title="Go back to audit section."> <i class="fa fa-arrow-circle-o-left"
                            aria-hidden="true" style="font-size: 24px;"></i>
                    </a>
                </span>


            </div>

        </div>
        <hr />
        <fieldset [disabled]="showForm">
            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="inputState">Type of Finding</label>

                    <input type="text" class="form-control" name="typeOfFindings" id="TypeOfFinding" [(ngModel)]="appAssess.typeOfFindings">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Overall risk level</label>
                    <input type="text" class="form-control" name="overallRiskLevel" id="overallRiskLevel" [(ngModel)]="appAssess.overallRiskLevel">
                </div>
            </div>
            <hr/>
            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="inputState">Description</label>

                    <textarea id="" rows="10" name="description" class="form-control" [(ngModel)]="appAssess.findingDescription"></textarea>
                </div>

            </div>
            <hr/>
            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="inputState">Comments</label>

                    <textarea name="comments" id="" rows="10" class="form-control" [(ngModel)]="appAssess.findingComments"></textarea>
                </div>

            </div>
            <hr/>
            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="inputState">Responsible Party</label>
                    <input type="text" name="responsibleParty" class="form-control" id="responsibleParty" [(ngModel)]="appAssess.responsibleParty">

                </div>

            </div>
        </fieldset>


    </form>
</div>