i.fa {
    text-decoration: none !important;
    padding: 5px 4px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
   }
.plus{
	float:right;
	 vertical-align: middle;
    font-size: 20px;
    margin-top: -15px;
    padding: 10px;
    margin-left: 50px;
    color: #3A539B;
}


.nav-link{
	color: black;
	margin-left: 10px;
}

.icons{
	color:#3A539B;
   vertical-align: middle;
   font-size: 20px;
   margin-bottom: 20px;
   padding: 2px;
   margin-right: 20px;
}