<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="policies">
				<span><b>POLICIES</b></span>
				<div class="policy-edit">
				<fa (click) = "downloadFile(policyDropDownId)" *ngIf="plus" [name]="'download'" class="download-icon icons"></fa>
				<fa class="edit-icon icons" (click)="changeButton()" *ngIf="plus" data-toggle="tooltip" data-placement="right" title="Save" data-animation="true" data-delay="0" [name]="'edit'"></fa>
						<fa (click)="open(content)" *ngIf="!plus" [name]="'upload'" class="upload-icon icons"></fa>
						<!-- <fa *ngIf="!plus" [name]="'plus'" class="plus-icon icons"></fa> -->
						<a routerLink = "/policyAdd"><fa *ngIf="!plus" [name]="'plus'" class="plus-icon icons"></fa></a>
						<!-- <button type="submit"><fa *ngIf="!plus" class="save-icon icons" [name]="'save'"></fa></button> -->
						<fa *ngIf="!plus" class="save-icon icons" [name]="'save'"></fa>
						<fa (click)="close()" *ngIf="!plus" class="close-icon icons" [name]="'times-circle'"></fa>
					</div>
			<hr />
			</div>
			<ng-template #content let-c="close" let-d="dismiss">
			  <div class="modal-header">
			    <h4 class="modal-title" id="modal-basic-title">Policy File</h4>
			    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			      <span aria-hidden="true">&times;</span>
			    </button> -->
			  </div>
			  <div class="modal-body">
			    <!-- <form (ngSubmit) = "uploadPolicyFile()"> -->
			    <form>
			    	<div class="form-row">
			    		<div class="form-group col-12">
			    			<!-- <label for="attachments"><b>Attachment</b></label> -->
			    			<input id="attachments" class="form-control" type="file" (change)="createPolicyFile($event)" />
			    		</div>
			    	</div>
			    	<hr />
			    	<!-- <div class="form-row">
			    		<div class="form-group col-12">
			    			<label for="fileList"><b>Attachment</b></label>
			    		</div>
			    	</div> -->
			    	<div class="modal-footer">
			    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
			    <button type="submit" class="btn btn-outline-dark" (click)="c('Save click');uploadPolicyFile()">Upload</button>
			    <!-- <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Upload</button> -->
			  </div>	
			   </form>
			  </div>
</ng-template>
<ng-template #control let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Control Number</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
  </div>
</ng-template>
			<!-- <div class="model-solution-row form-row">
            	<div class="model form-group col-md-6">
            <label class="label-form" for="definitiveSourceInput">Definitive Source</label><div class="asterisk">*</div>
              <input type="text" class="form-control" id="definitiveSourceInput" readonly value="VITA">
              <!-- <div class="hover-icon"><fa class="ban" [name]="'ban'"></fa></div>
            	</div>
            	<div class="version form-group col-md-6">
            		<label class="label-form" for="updatedBy">Updated By</label><div class="asterisk">*</div>
		              <input type="text" class="form-control" id="updatedBy" readonly value="Sunny Singh">
            	</div>
            	<div class="form-group col-md-6">
            <label class="label-form" for="Type/Policy">Type/Policy</label><div class="asterisk">*</div>
              <input type="text" class="form-control" id="Type/Policy" readonly value="IT Information Security Standard (SEC501-09.1)">
            	</div>
            	<div class="form-group col-md-6">
            		<label class="label-form" for="updtedAt">Updated At</label><div class="asterisk">*</div>
		              <input type="text" class="form-control" id="updatedAt" readonly value="14-05-2018">
            	</div>
            </div> -->
        <!-- <fieldset [disabled]='showForm'> -->
		<div class="description">
			<div class="model-solution-row form-row">
            	<!-- <div class="model form-group col-md-6">
            <label class="label-form" for="definitiveSourceInput">Definitive Source</label><div class="asterisk">*</div>
              <input type="text" class="edit-disable form-control" id="definitiveSourceInput" readonly [(ngModel)] = "policy.definitiveSource">
              <div class="hover-icon"><fa class="ban" [name]="'ban'"></fa></div>
            	</div> commented -->
            	<div class="form-group col-md-6">
            		<label for="definitiveSource">Definitive Source</label>
            		<input type="text" class="form-control" id="definitiveSource" [(ngModel)] = "policyGrpData.definitiveSource" [name] = "'definitive_source'">
            		</div>
  			    <div class="form-group col-md-6">
  			    	<label for="typePolicy">Type/Policy</label>
            		<input type="text" class="form-control" id="typePolicy" [(ngModel)] = "policyGrpData.policyGrpName" [name] = "'type_policy'">
  			    </div>
            	<div class="version form-group col-md-6">
            		<label class="label-form" for="updatedBy">Updated By</label><div class="asterisk">*</div>
		             <!--  <input type="text" class="edit-disable form-control" id="updatedBy" readonly [(ngModel)] = "policyGrpData.updatedBy" [name] = "'updated_by'"> -->
		              <input type="text" class="edit-disable form-control" id="updatedBy" readonly [(ngModel)] = "policyGrpData.updatedBy" [name] = "'updated_by'">
            	</div>        
            	    	<div class="form-group col-md-6">
            		<label class="label-form" for="updtedAt">Updated At</label><div class="asterisk">*</div>
		              <my-date-picker name="myname" [ngModel] = "policyGrpData.updatedTs" [selDate] = "displayUpdatedAt"></my-date-picker>
            	</div> 
            </div>
	</div>
	<hr />
		<form (ngSubmit)="updatePolicyGrp()">
			<fieldset [disabled]='showForm'>
			<label for="description">Description</label>
			<textarea id="description" cols="156" rows="7" *ngIf="!showForm" [(ngModel)] = "policyDisplay.description" [name]="'policy_description'"></textarea>
			<div class="model-solution-row form-row">
            	<div class="model form-group col-md-6">
            <label class="label-form" for="lastReviewDate">Last Review Date</label><div class="asterisk">*</div>
              <my-date-picker name="myname" [(ngModel)] = "lastReviewDate" [selDate] = "displayLastReviewDate"></my-date-picker>
            	</div>
            	<div class="version form-group col-md-6">
            		<label class="label-form" for="nextReviewDate">Next Review Date</label><div class="asterisk">*</div>
		              <my-date-picker name="myname" [(ngModel)] = "nextReviewDate" [selDate] = "displayNextReviewDate"></my-date-picker>
            	</div>
            	<div class="form-group col-md-6">
            <label class="label-form" for="owner">Owner</label><div class="asterisk">*</div>
              <input type="text" class="edit-disable form-control" id="owner" [(ngModel)] = "policyDisplay.owner" [name] = "'policy_owner'">
            	</div>
            	<div class="form-group col-md-6">
            		<label class="label-form" for="policyReviewTerm">Policy Review Term</label><div class="asterisk">*</div>
		              <input type="text" class="edit-disable form-control" id="policyReviewTerm" *ngIf="showForm" [(ngModel)] = "policyDisplay.policyReviewTerm" [name] = "'review_term'">
		              <select class="form-control" id="priority" *ngIf="!showForm" [(ngModel)] = "policyDisplay.policyReviewTermId" [name] = "'review_term'" (change) = "displayReview($event)" required>
		              	<option>Select</option>
		                <option *ngFor="let review of policyReviewTerm" [value]="review.id">{{review.reviewTerm}}</option>
		                <!-- <option value="2">Half-Yearly</option>
		                <option value="3">Quarterly</option> -->
		              </select>
		              <!-- <button class="btn btn-primary" (click)="displayReview(selectedReviewTerm.value)">Display</button> -->
            	</div>
            	<div class="form-group col-md-6">
            		<label class="label-form" for="status">Status</label><div class="asterisk">*</div>
		              <input type="text" class="form-control" id="status" [(ngModel)] = "policyDisplay.status" [name] = "'policy_status'" *ngIf="showForm">
		              <select class="form-control" id="priority" (change)="policyDisplay.status = $event.target.value" *ngIf="!showForm">
		                <option value = "Open">Open</option>
		                <option value = "Close">Close</option>
		              </select>
            	</div>
            </div>
		</fieldset>
		<hr />
		<button type="submit" class="cancel btn btn-primary">Submit</button>
		</form>
		
		<!-- <div *ngIf = "showDocument" class="display-file">
            	<ul
								*ngFor=" let policyDocument of policy.policyDocumentsDTOs ">
								<li>
									<a href = "#" style="cursor:pointer;color:blue;">{{ policyDocument.documentName }}</a></li>
							</ul>
            </div> -->
		
		<h5>CONTROLS</h5>
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th (click)="handleSort()" scope="col">Control Number and Description<i
					class="sorting fa fa-arrow-down" *ngIf="!desc"></i> <i
					class="sorting fa fa-arrow-up" *ngIf="desc"></i></th>
		      <th (click)="handleSort()" scope="col">Policy Name<i
					class="sorting fa fa-arrow-down" *ngIf="!desc"></i> <i
					class="sorting fa fa-arrow-up" *ngIf="desc"></i></th>
		      <th (click)="handleSort()" scope="col">Priority<i
					class="second fa fa-arrow-down" *ngIf="!desc"></i> <i
					class="second fa fa-arrow-up" *ngIf="desc"></i></th>
		      <th (click)="handleSort()" scope="col">Policy Value<i
					class="second fa fa-arrow-down" *ngIf="!desc"></i> <i
					class="second fa fa-arrow-up" *ngIf="desc"></i></th>
		     <!--  <th scope="col">Assigned To</th>
		      <th scope="col">Assigned By</th>
		      <th scope="col">Assigned On</th>
		      <th scope="col">Target Date</th> -->
		      <th scope="col">Status</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor = "let policy of policies | paginate: { itemsPerPage: 10, currentPage: p }">
		      <!-- <td>{{ policy.controlNumber }}</td> -->
		      <td><a routerLink="/accessControl/{{ policy.policyId }}" style="cursor:pointer;color:blue;">{{ policy.controlNumber }}</a></td>
		      <td>{{ policy.policyName }}</td>
		      <td>{{ policy.priority }}</td>
		      <td>{{ policy.policyVal }}</td>
		      <!-- <td></td>
		      <td></td>
		      <td></td>
		      <td></td> -->
		      <td>{{ policy.status }}</td>
		    </tr>
		  </tbody>
			</table>
			<br>
			<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>