<div class="pos-f-t">
          <nav class="navbar">
            <img src="assets/img/logo.png">
            <h2 class="heading">Application and Audit Manager</h2>
            <div class="login"><p class="user">Sunny Singh<fa class="down-icon" [name]="'chevron-down'"></fa></p></div>
          </nav>
    </div>
    <div class="dashboard">
         <div class="first-row">
        <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Locality</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a routerLink="/locality/map" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a routerLink="/locality/map" class="view-edit card-link"><fa [name]="'eye'"></fa> / <fa [name]="'edit'"></fa></a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Vendors</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a routerLink="/vendors" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a [routerLink]="['/vendorsView']" class="view-edit card-link"><fa [name]="'eye'"></fa>/ <fa [name]="'edit'"></fa></a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Solutions</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a routerLink="/solutions" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <!-- <a routerLink="/solutionsView" class="card-link"><fa [name]="'plus-circle'"></fa></a> -->
    <a routerLink="/solutionsView" class="view-edit card-link"><fa [name]="'eye'"></fa> / <fa [name]="'edit'"></fa></a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Audit</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a href="#" class="view-edit card-link"><fa [name]="'eye'"></fa> / <fa [name]="'edit'"></fa></a>
  </div>
</div>
        </div>
    <div class="second-row">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Assessment</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a href="#" class="view-edit card-link"><fa [name]="'eye'"></fa> / <fa [name]="'edit'"></fa></a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Reports</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a href="#" class="view-edit card-link"><fa [name]="'eye'"></fa> / <fa [name]="'edit'"></fa></a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Dashboard</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a href="#" class="view-edit card-link"><fa [name]="'eye'"></fa> / <fa [name]="'edit'"></fa></a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <div class="card-heading"><h5 class="card-title">Systems</h5>
          </div>
        <hr />
        <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="/system/map" class="card-link"><fa [name]="'plus-circle'"></fa></a>
        <a routerLink="/system/map" class="view-edit card-link"><fa [name]="'eye'"></fa> / <fa [name]="'edit'"></fa></a>
      </div>
</div>
</div>
        <div class="third-row">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Security Life Cycle</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a href="#" class="view-edit card-link"><fa [name]="'eye'"></fa> / <fa [name]="'edit'"></fa></a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Compliance Check</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a href="#" class="view-edit card-link"><fa [name]="'eye'"></fa> / <fa [name]="'edit'"></fa></a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="card-heading"><h5 class="card-title">Policies</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a routerLink="/policy" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a routerLink="/policyView" class="view-edit card-link"><fa [name]="'eye'"></fa> / <fa [name]="'edit'"></fa></a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <div class="card-body">
   <div class="card-heading"><h5 class="card-title">Device Inventory</h5>
      </div>
    <hr />
    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a routerLink="/deviceInventory" class="card-link"><fa [name]="'plus-circle'"></fa></a>
    <a href="#" class="view-edit card-link"><fa [name]="'eye'"></fa> / <fa [name]="'edit'"></fa></a>
  </div>
</div>
        
        </div>
        
        </div>    