<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Info</h4>
    </div>
    <div class="modal-body">
      <p>{{info}}</p>
    </div>
    <div class="modal-footer">
      <button  type="button" class="btn btn-outline-dark confbtn" (click)="c()">Ok</button>
    </div>
    </ng-template>
<div class="form-div">
    <form class="former">
        <div class="panel-heading">
            <label class="details">ACTION PLAN</label>
            <div class="plus">
                    <span class=" title elipsis pull-right" *ngIf="showEdit">
                            <a><fa class="edit-icon icons" [name]="'edit'" (click)="valueChanged()"></fa></a>
                        </span>
                <span class=" title elipsis pull-right">
                    <a *ngIf="!showForm" (click)="saveActionPlan()" title="Save Audit" class="ng-hide">
                        <i class="fa fa-floppy-o" aria-hidden="true" style="font-size: 24px;"></i>
                    </a>
                </span>
                <!-- <span class=" title elipsis pull-right">
                    <a>
                        <fa class="edit-icon icons" [name]="'edit'"></fa>
                    </a>
                </span> -->



                <span class=" title elipsis pull-right">
                    <a title="Application audit history">
                        <i class="fa fa-history" aria-hidden="true" style="font-size: 24px;"></i>
                    </a>
                </span>

                <span class=" title elipsis pull-right">

                    <a data-ng-click="close()" title="Change to view mode. This reverts the changes">
                        <i class="fa fa-times" aria-hidden="true" style="font-size: 24px;"></i>
                    </a>
                    <a (click)="showAudit()" title="Go back to audit section.">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size: 24px;"></i>
                    </a>
                </span>


            </div>

        </div>
        <hr/>
        <fieldset [disabled]="showForm">
            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="inputState">Start date</label>

                    <my-date-picker name="startDate"  (dateChanged)="getStartDate($event)" [(ngModel)]="startDate"></my-date-picker>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">End date</label>
                    <my-date-picker name="endDate"  (dateChanged)="getEndDate($event)" [(ngModel)]="endDate"></my-date-picker>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="inputState">Assigned to</label>

                    <input type="text" name="assignedTo" class="form-control" id="assignedTo" [(ngModel)]="appAudit.actionPlanAssignedTo">
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="inputState">Summary</label>
                    <textarea name="summary" id="" rows="10" class="form-control" [(ngModel)]="appAudit.actionPlanSummary"></textarea>

                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="inputState">Tasks</label>
                    <textarea name="tasks" id="" rows="10" class="form-control" [(ngModel)]="appAudit.actionPlanTasks"></textarea>

                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="inputState">Closeout Comments</label>
                    <textarea name="Comments" id="" rows="10" class="form-control" [(ngModel)]="appAudit.actionPlanCloseoutComments"></textarea>

                </div>

            </div>


        </fieldset>












    </form>
</div>