<div class="form-div">   
 <form class="former"> 
 
        <div class="panel-heading">
 <label class="details">RECOMENDATIONS</label>
      <div class="plus">
      
      <span class=" title elipsis pull-right">
                <a (click)="showAssess()" title="Save Audit" class="ng-hide">
                    <i class="fa fa-floppy-o" aria-hidden="true" style="font-size: 24px;"></i>
                </a>
            </span>
        <span class=" title elipsis pull-right">
           <a><fa class="edit-icon icons" [name]="'edit'"></fa></a>
        </span>

        
  
        <span class=" title elipsis pull-right">
          <a  title="Application audit history">
            <i class="fa fa-history" aria-hidden="true" style="font-size: 24px;"></i>
          </a>
        </span>
  
        <span class=" title elipsis pull-right">
  
          <a data-ng-click="close()" title="Change to view mode. This reverts the changes">
            <i class="fa fa-times" aria-hidden="true" style="font-size: 24px;"></i>
          </a>
          <a (click)="showLeft()" title="Go back to audit section.">
            <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="font-size: 24px;"></i>
          </a>
        </span>
  
  
      </div>
     
    </div>
    <hr/>
 
 <fieldset> 
        <div class="form-row">
            <div class="form-group col-md-6">

                <label for="inputState">Recomended by</label>
               
                 <input type="text" class="form-control" name="lastName" id="recomendedBy" value="enter here">
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Estimated completion date</label>
                <my-date-picker name="estDate"></my-date-picker>
            </div>
            </div>
        </fieldset>
 
 
 
 
 
 
 
 
 
    
            </form>
            </div>
