


 i.disabled {
           pointer-events: none !important;
           cursor: default;
    }








.form{
  padding: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  margin: 20px;
  background-color: #EEEEEE;
}
tbody tr:nth-of-type(odd) {
    background-color: #EEEEEE !important;
}

tr{
	background-color:#cecfd5;
}
tbody tr:nth-child(even) {
  background-color:white;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
   
}


.plus{
	float:right;
	 vertical-align: middle;
    font-size: 20px;
    margin-top: -15px;
    padding: 10px;
    margin-left: 50px;
    color: #3A539B;
}



i.fa {
    text-decoration: none !important;
    padding: 5px 4px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
   }





#searchtable table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    color: black;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table {
    border: 1px solid black;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    
}


.plus{
	float:right;
    font-size: 20px;
    margin-right: 20px;
    color: #3A539B;
}
.modal-header{
	background-color:#3A539B !important;
	color:white;
}


i.fa {
    text-decoration: none !important;
    padding: 5px 4px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
   }

th{
    font-weight: bold;
    color: black;
   
    text-align: left;
}



#searchtable table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
  
    color: black;
}



.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}



table {
    border: 1px solid black;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    
}
tr{
	background-color:#cecfd5;
}
tbody tr:nth-child(even) {
  background-color:white;
}


.forms{
  padding: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  margin: 20px;
  background-color: #EEEEEE;
}
.clear-right {
	clear:right;
	overflow: hidden;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #EEEEEE !important;
}

tbody tr:nth-of-type(odd) {
    background-color: #EEEEEE !important;
}

























