<ng-template #content let-c="close" let-d="dismiss">
<div class="modal-header">
  <h4 class="modal-title">Info</h4>
<!--   <button type="button" class="close" aria-label="Close" (click)="d()"> -->
<!--     <span aria-hidden="true">&times;</span> -->
<!--   </button> -->
</div>
<div class="modal-body">
  <p>System does not exist.Do you want to create it?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="c();redirect('yes')">Yes</button>
  <button type="button" class="btn btn-outline-dark" (click)="c();redirect('no')">No</button>
</div>
</ng-template>

<form class="former">
 <div class="page-description">
       
    </div>
   
    <div class="form-row">
        <div class="form-group col-md-6">

            <label class="label" for="getAppAcronyms"><b>Please Select Your System </b></label>
            <div class="asterisk">*</div>
            <select class="form-control" id="getAppAcronyms" (change)="selectLocal($event.target.value)">
          <option selected>Choose...</option>
          <option *ngFor="let acronym of acronyms | keys" value="{{ acronym.value }}">
          {{acronym.value}}
          </option> 
          <option>end of systems</option>
        </select>
        </div>

    </div>

</form>




<!--<div class="form-div" *ngIf = "showForm == 'locality2'">
    <form class="former">
      locality2

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputState">Country Name</label><div class="asterisk">*</div>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">City</label>
          <input type="text" class="form-control" id="lastName" value="Value">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email ID</label><div class="asterisk">*</div>
          <input type="email" class="form-control" id="email" value="Value">
        </div>
        <div class="form-group col-md-6">
          <label for="phone">Phone Number</label><div class="asterisk">*</div>
          <input type="text" class="form-control" id="phone" value="Value">
        </div>
      </div>

      <p><b>Address</b></p>
      <div class="form-group">
        <label for="inputAddress">Street Name</label><div class="asterisk">*</div>
        <input type="text" class="form-control" id="inputAddress" value="Value" >
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" value="Value">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputState">State</label><div class="asterisk">*</div>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputZip">Zip Code</label><div class="asterisk">*</div>
          <input type="text" class="form-control" id="inputZip" valu="00000">


          <div class="buttons">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="cancel" class="btn btn-primary">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>



  <div class="form-div" *ngIf = "showForm == 'locality3'">
    <form class="former">
      locality3

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputState">Country Name</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>





        <div class="form-group col-md-6">
          <label for="lastName">City</label>
          <input type="text" class="form-control" id="lastName" value="Value">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email ID</label>
          <input type="email" class="form-control" id="email" value="Value">
        </div>
        <div class="form-group col-md-6">
          <label for="phone">Phone Number</label>
          <input type="text" class="form-control" id="phone" value="Value">
        </div>
      </div>

      <p><b>Address</b></p>
      <div class="form-group">
        <label for="inputAddress">Street Name</label>
        <input type="text" class="form-control" id="inputAddress" value="Value" >
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" value="Value">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputZip">Zip Code</label>
          <input type="text" class="form-control" id="inputZip" valu="00000">


          <div class="buttons">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="cancel" class="btn btn-primary">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>-->