table {
  display: table;

}


th {
  font-weight: bold;
  color: black;
  background-color: #cecfd5;
  text-align: left;
 

}
tbody tr:nth-child(even) {
  background-color: #ffffff; 
  
}
td {
  text-align: left;
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}



.forms{
  padding: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  margin: 20px;
  background-color: #EEEEEE;
}

table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.sorting{
	margin-left: 5px;
}

.rTable {
  display: table;
  width: 100%;
  margin-left:50%;

}
.rTableRow {
  display: table-row;

}




.rTableHeading {
  display: table-header-group;

}
.rTableCell, .rTableHead {
  display: table-cell;
  padding: 10px 10px;
  border: 1px solid ;

}
.rTableHead{

  font-weight: bold;

}

.rTableHeading {
  display: table-header-group;
  /*background-color: white;*/
  font-weight: bold;
}
.rTableFoot {
  display: table-footer-group;
  font-weight: bold;

}
.rTableBody {
  display: table-row-group;
}

*{
  box-sizing: border-box;
  margin: 0;
  /* padding: 0;*/
}

.navigate{
  margin: 15px;
  padding: 5px;
}

.form-options{
  float: left;
  margin-right: 15px;
  margin-top: -15px;
  padding: 5px;
}

.icons{
  vertical-align: middle;
  font-size: 20px;
  margin-top: -20px;
  padding: 2px;
  margin-left: 5px;
}

.home-icon{
  color: #3A539B;
}

.edit-icon{
  /*margin-left: 10px;*/
  color: #3A539B;
}

.left-icon{
  /*margin-left: 10px;*/
  color: #3A539B;
}

.save-icon{
  color: #3A539B;
}







































.p-4{
  background-color: #2C3E50;
  border-top: 1px solid #ECF0F1;
}

nav{
  background-color: #3A539B;
  text-align: center;
  position: relative;
}

.heading{
  color: white;
}

img{
  width: 10%;

}

.user{
  position: absolute;
  font-size: 10px;
  color: white;
  right: 50px;
  margin-right: 10px;
}

.down-icon{
  font-size: 10px;
  margin-left: 3px;
  color: white;
}

.navigate-toggle{
  color: white;
}

.btn{
  margin-left: 30px;
}

h1{
  color: white;
}

span{
  color: white;
}

.collapse-div{
  background-color: #59ABE3;
}

.first-row{
  position: absolute;
  top: 20%;
  left: 5%;
}


.card-heading{
  background-color: #3A539B;
  border-radius: 6%;
}

.card-title{
  padding: 4%;
  color: white;
}




.card-link:hover{
  color: white;
  background-color: #00B16A;
}

.second-row{
  position: absolute;
  top: 60%;
  left: 5%;
}




.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}





.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
}

.fixed_header thead tr {
  display: block;
}

.fixed_header thead {
  background: black;
  color:#fff;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 500px;
}
